
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: french;
    
}

.cont{
    height: 100vh;
    width: 100vw;
    background-color: hsl(30, 38%, 92%);
    display: grid;
    place-items: center;
}

.adbox{
    width: 503.712px;
    height: 373.591px;
    border-radius: 10px;
    display: flex;
}

.picbox{
    width:50%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.dpic{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.txtbox{
    width:50%;
    height: 100%;
    background-color: #ffffff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 25px;
}

.txt1{
    font-family: Montserrat;
    color: hsl(228, 12%, 48%);
    opacity: 0.5;
    font-weight: 700;
    font-size: 10.4px;
    letter-spacing: 3px;
}

.txt2{
    font-family: Fraunces;
    color: hsl(212, 21%, 14%);
    font-weight: 700;
    font-size: 26px;
    opacity: 0.9;
    letter-spacing: -0.9px;
    line-height: 1.05;
    padding-right: 15px;
}

.txt3{
    font-family: Montserrat;
    color: hsl(212, 21%, 14%);
    opacity: 0.6;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: -0.3px;
    line-height: 1.7;
    padding-right: 1px;
}

.txt4{
    display: flex;
}

.price1{
    color: hsl(158, 36%, 37%);
    font-family: Fraunces;
    font-size: 26px;
    font-weight: 700;
    
}

.price2{
    font-family: Montserrat;
    color: hsl(212, 21%, 14%);
    opacity: 0.4;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: -0.3px;
    text-decoration: line-through;
    width:40%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.bahton{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    border: 0;
    border-radius: 5px;
    height: 43px;
    margin-top: 10px;


}

.bahton:hover{
    background-color: hsl(158, 35%, 21%);;
}

.carttext{
    font-family: Montserrat;
    font-size: 12.1px;
}

@media only screen and (max-width: 520px){
    .adbox{

        border-radius: 10px;
        display: flex;
        flex-direction: column;
        width: 285.242px;
        height: 575.152px;
    }

    .picbox{
        width:100%;
        height: 40%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .dpic{
        width: 100%;
        height: 100%;
        
        object-fit: cover;
        object-position: 0% 33%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }

    .txtbox{
        width:100%;
        height: 60%;
        background-color: #ffffff;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 25px;
    }

    .attribution{
        font-size: 7px;
    }

}